q# Python bytecode:
*.py[co]
production.py

# Packaging files:
*.egg*

# Sphinx stuff:
docs/generated/
docs/_build/
docs/auto_examples/

# Logs:
*.log

# Linux Editors
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
*.swp
*.swo

# Mac
.DS_Store
._*

# Windows
Thumbs.db
Desktop.ini

# Idea
.idea

#Vagrant
.vagrant

##whoosh
whoosh_index/

.coverage
.env
env/
venv/
.venv/

dist
